<!DOCTYPE html>
<html lang="en">
    <head>
        <title>activity | {{ activity }}</title>
        <!-- access and link to css stylesheet static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}"/>
    </head>
    <body>
        <h1>{{ activity | title }}</h1>

        <ul>
            {% for venue in venues %}
            <li>
                <a href="{% url 'venue' borough activity venue %}">
                    {{ venue|title }}</a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>