<!DOCTYPE html>
<html lang="en">
    <head>
        <title>venue | {{ venue }}</title>
        <!-- access and link to css stylesheet static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}"/>
    </head>
    <body>
        <h1>{{ venue | title }}</h1>

        <img src= {{ img }} alt="Sorry! Photo not available." width="600" height="400">
        <p>{{ description }}</p>

        <a href="{% url 'city' %}" >Return Home</a>
    </body>
</html>